{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Página Inicial</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../../static/css/home_styles.css' %}"
    />
  </head>
  <body>
    <div class="video-background">
      <iframe
        src="https://www.youtube-nocookie.com/embed/hUMhJ0m5fEs?autoplay=1&mute=1&loop=1&playlist=hUMhJ0m5fEs&controls=0&showinfo=0&modestbranding=1&fs=0&vq=hd1080"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
      <div class="iframe-blocker"></div>
    </div>

    <div class="content-wrapper">
      <h1>Bem-vindo!</h1>
      {% if user.is_authenticated %}
      <p>Você está logado como: <strong>{{ user.username }}</strong></p>
      <p><a href="#">Logout (não implementado)</a></p>
      {% else %}
      <p>Você não está logado.</p>
      {% endif %}
      <hr />
      <h3>Testar Logins:</h3>
      <ul>
        <li><a href="{% url 'login_level1' %}">Login Nível 1 (Inseguro)</a></li>
        <li>
          <a href="{% url 'login_level2' %}">Login Nível 2 (Rate Limit)</a>
        </li>
        <li><a href="{% url 'login_level3' %}">Login Nível 3 (2FA)</a></li>
      </ul>
    </div>
  </body>
</html>
