{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Página Inicial</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/header_styles.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/home_styles.css' %}"
    />
  </head>
  <body class="offset-header">
    {% include "header.html" %}

    <div class="video-background">
      <iframe
        src="https://www.youtube-nocookie.com/embed/hUMhJ0m5fEs?autoplay=1&mute=1&loop=1&playlist=hUMhJ0m5fEs&controls=0&showinfo=0&modestbranding=1&fs=0&vq=hd1080"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
      ></iframe>
      <div class="iframe-blocker"></div>
    </div>

    <div class="level-controls">
      <div class="registration-link">
        Ainda não tem conta?
        <a href="{% url 'register' %}" class="register-text-link"
          >Crie sua Conta de Demonstração aqui.</a
        >
      </div>

      <a href="{% url 'login_level1' %}" class="level-button">
        Nível 1 (Inseguro - Brute Force)
      </a>
      <a href="{% url 'login_level2' %}" class="level-button">
        Nível 2 (Intermediário - Rate Limit)
      </a>
      <a href="{% url 'login_level3' %}" class="level-button">
        Nível 3 (Seguro - 2FA)
      </a>
    </div>
  </body>
</html>
