# Workflow para fazer deploy de conteúdo estático para o GitHub Pages
name: Deploy static content to Pages

on:
  # Executa quando um push é feito para a branch main
  push:
    branches: ["main"]

  # Permite que você execute este workflow manualmente na aba Actions
  workflow_dispatch:

# Define permissões para o GITHUB_TOKEN para permitir o deploy no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Evita múltiplos deploys concorrentes
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11" # Use a versão do Python do seu projeto
          cache: "pip"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Collect static files
        # O `collectstatic` irá falhar se o diretório `staticfiles` não existir,
        # então o criamos primeiro.
        run: |
          mkdir -p staticfiles
          python show_security/manage.py collectstatic --noinput
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./staticfiles"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4